= form_for @application_setting, url: ci_cd_admin_application_settings_path(anchor: 'js-registry-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :container_registry_token_expire_delay, '授权令牌持续时间 （分钟）', class: 'label-bold'
      = f.number_field :container_registry_token_expire_delay, class: 'form-control'

  = f.submit '保存修改', class: "btn btn-success"
