= form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-terminal-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :terminal_max_session_time, '最长会话时间', class: 'label-bold'
      = f.number_field :terminal_max_session_time, class: 'form-control'
      .form-text.text-muted
        网页终端 websocket 连接的最大时间（秒）。无限制则为 0。

  = f.submit _('Save changes'), class: "btn btn-success"
