- page_title "应用"
%h3.page-title
  系统 OAuth 应用
%p.light
  系统 OAuth 应用不属于特定的用户，只由管理员管理
%hr
%p= link_to '新建应用', new_admin_application_path, class: 'btn btn-success'
%table.table
  %thead
    %tr
      %th 名称
      %th 回调链接
      %th 客户端
      %th 可信任
      %th
      %th
  %tbody.oauth-applications
    - @applications.each do |application|
      %tr{ :id => "application_#{application.id}" }
        %td= link_to application.name, admin_application_path(application)
        %td= application.redirect_uri
        %td= @application_counts[application.id].to_i
        %td= application.trusted? ? '是': '否'
        %td= link_to '编辑', edit_admin_application_path(application), class: 'btn btn-link'
        %td= render 'delete_form', application: application
= paginate @applications, theme: 'gitlab'
